/* --- Templations --- */

.template-item-link {
    /* position: relative; */
    line-height: 0;
    color: inherit;
    cursor: pointer;
    transition: box-shadow var(--duration) var(--function);
  }
  
  .template-item-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
  .template-head {
    margin: -15px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .template-item {
    margin: 15px;
    /* margin-bottom: 45px; */
    max-width: 370px;
  
    box-sizing: border-box;
  
    background: var(--template-item-background-color);
    /* margin-left: 30px; */
  }
  
  .template-top-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .template-item-link:hover .template-item-desc {
    top: 0;
    display: block;
  }
  
  .template-item-desc {
    position: absolute;
    top: 100%;
    bottom: 0;
  
    padding: 63px 24px;
  
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  
    background-color: var(--template-item-desc-text-color);
    color: var(--order-title-text-color);
  
    transition: top var(--duration) var(--function);
  }
  
  .template-item > img {
    display: block;
    max-width: 100%;
  
    box-sizing: border-box;
  }
  
  .template-title {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
  
    color: var(--title-text-color);
  }
  
  .template-content {
    font-size: 16px;
    letter-spacing: 0.03em;
  }
  
  .template-title,
  .template-content {
    line-height: 2;
  }
  
  .template-bottom-wrapper {
    padding: 20px 24px;
  
    border: 1px solid var(--template-item-border-color);
  }