/* ---- Наша команда ------ */
.team-section {
  background-color: $background-color-team-section;

  &__container {
    @extend %top-bottom-shifting-section;
  }

  &__title {
    @extend %title-section;
    color: $text-color-secondary;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

